doctype html
html
	head
		meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
		script.
			function subst() {
				var vars={},i,j,x=window.location.search.substring(1).split('&'),y,z;
				for (i in x) {z=x[i].split('=',2);vars[z[0]] = unescape(z[1]);}
				x=['frompage','topage'/*,'page'*/,'webpage','section','subsection','subsubsection'];
				for (i in x) {
					y = document.getElementsByClassName(x[i]);
					for (j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
				}
				x={'page-number': 'page', 'page-count': 'topage'};
				for (i in x) {
					y = document.getElementsByClassName(i);
					for (j=0; j<y.length; ++j) y[j].textContent = vars[x[i]];
				}
			}
	body#meta(style='border: 0; margin: 0', onload='subst()')
		#wrapper
			!= body
