---
filename: Document.pdf
title: Document
subtitle: Subtitle of the Document
author: Maurits van Mastrigt
plugins:
  - documark-theme-default
debug: true
---

import documark-math
import documark-debug

link(rel='stylesheet', type='text/css', href='assets/css/style.css')

script(src='https://cdnjs.cloudflare.com/ajax/libs/zepto/1.1.4/zepto.min.js')
script(src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.9.0/moment-with-locales.min.js')
script.
	moment.locale('nl_NL');

header
	.pull-left Header left.
	.pull-right Header right.
	center Header center.
	.clearfix

footer
	.pull-left.section
	.pull-right= 'Page '
		span.page-number
		= ' of '
		span.page-count
	.clearfix

cover.no-index
	h1= title
	h2= subtitle
	h2.author= author

	h3.date
	script.
		// Dutch date
		$('cover h3.date').text(moment().format('D MMMM YYYY'));

	.footer
		p Additional information..
		p On the bottom..
		p Of the cover page.

chapter.no-index
	h1 Index
	table-of-contents(depth=2)

chapter
	include chapters/intro.jade

	//- TODO(mauvm): Code beautifier and only require code tag
	pre
		code(lang='php').
			while ($eindbaas) {
				beAwesome();
			}
	
	p And finally some math:

	| $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$

	p Some other text with inline math %% \sqrt{b^2-4ac} %%. Neat!

//- page.landscape
//- 	//- Empty header
//- 	header
//- 
//- 	chapter
//- 		include chapters/introduction.jade

//- chapter
//- 	include:markdown chapters/first-chapter.md
