h1 Intro

:markdown
	Lorem [ipsum dolor](http://google.nl) sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis **nostrud exercitation** ullamco laboris nisi ut *aliquip ex* ea commodo consequat.

	![Internal Image Example](assets/img/internal_image.jpg)

h2 Sub chapter
p Lorem ipsum dolar sit amet.

img(src='http://placekitten.com/g/400/200', title='External Image Example')

p Duis aute
	//- NOTE: Double space after tag or | to force space between elements.
	strong  irure dolor in reprehenderit
	|  in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
	em  Excepteur sint occaecat
	|  cupidatat non proident,
	underline  sunt in culpa
	|  qui officia deserunt mollit anim id est laborum.

