@import 'reset.css'

header-color = #000
text-color = #333
link-color = #1486b3

// GLOBAL
option
	display: none

body
	font-family: Arial, sans-serif
	font-size: 14px
	color: text-color
	line-height: 125%

h1
	font-size: 25px
	margin: 40px 0 20px
	color: header-color 
h2
	font-size: 20px
	margin: 30px 0 20px
	color: header-color
h3
	font-size: 17px
	margin: 20px 0
	color: header-color

h4, h5
	font-weight: bold

h5
	font-style: italic

p
	margin: 20px 0

img
	max-width: 100%

.pull-left
	float: left
.pull-right
	float: right

strong, .bold
	font-weight: bold
i, em, .italic
	font-style: italic
u, .underline
	text-decoration: underline

.page-break
	page-break-before: always

.clearfix:after
	content: ""
	display: table
	clear: both

// HEADER / FOOTER
#meta
	#wrapper
		height: 50px
	header, footer
		display: block
		width: 100%
	footer
		position: absolute
		bottom: 0

// COVER
cover
	display: block
	height: 100%
	img.cover-image
		position: absolute
		top: 0
		left: 0
		z-index: -99
		width: 100%
		height: auto
		margin-top: 40px
	.image-overlay
		padding-top: 80px
		& > *
			margin-right: 40px
			color: white
			text-shadow: 1px 1px 200px black
	h1
		margin: 0
		font-size: 50px
		padding: 100px 0
	h2
		margin: 40px 0
		font-size: 30px
		color: text-color
	h3
		font-size: 14px
	h1, h2, h3
		text-align: right
	.footer
		position: absolute
		bottom: 0
		p
			span
				display: inline-block
				width: 100px
			&:last-child
				margin-bottom: 0

// PREPEND
chapter.prepend
	h2
		margin-top: 60px
	table.signature
		height: 150px
		td
			position: relative
		span.comment
			position: absolute
			bottom: 10px
			right: 10px
			font-size: 12px

// TABLE OF CONTENTS
tableofcontents
	display: block
	page-break-before: always
	h1
		padding: 20px 0 40px
	li
		span.chapter-title
			display: inline-block
			padding-bottom: 6px
		span.chapter-number
			float: right
	ul.index-1 > li
		padding-bottom: 18px
		> span.chapter-title,
		> span.chapter-number
			font-weight: bold
	ul.index-3
		display: none

// CHAPTER
chapter
	display: block
	page-break-before: always

// MISCELLANEOUS
chapter
	> h1
		padding: 80px 0 20px

// LINK
chapter a
	&, &:link, &:active
		text-decoration: none
		color: link-color
	&:hover, &:visited
		text-decoration: none
		color: darken(link-color, 15%)

// LIST
chapter ul, chapter ol
	margin: 20px 0 20px 25px
	li
		padding-bottom: 10px
chapter ul
	list-style: disc
chapter ol
	list-style: decimal

// TABLE
chapter table
	display: table
	width: 100%
	max-width: 100%
	margin: 20px 0
	border-spacing: 0
	border: 1px solid #ddd !important
	th
		text-align: left
		font-weight: bold
	thead th
		vertical-align: bottom
		border-bottom: 1px solid #ddd !important
		white-space: nowrap
	th, td
		padding: 8px !important
		vertical-align: top
	td
		border-top: 1px solid #ddd !important
	tbody tr:nth-child(odd)
		background-color: #f9f9f9
	tbody
		td:nth-child(1):nth-last-child(2)
			width: 33%

//chapter.with-tables table tbody
//		td:nth-child(1):nth-last-child(3),
//		td:nth-child(2):nth-last-child(3)
//			width: 25%
//		td:nth-child(1):nth-last-child(n+4),
//		td:nth-child(2):nth-last-child(n+4)
//			width: 20%
	
// CODE
chapter
	code
		display: inline-block
		box-sizing: border-box
		padding: 0.1em 0
		border-radius: 3px
		font-family: Consolas, 'Liberation Mono', Menlo, Courier, monospace
		font-size: 85%
		background-color: #f2f2f2
		white-space: pre-wrap
		&:before, &:after
			letter-spacing: -0.2em
			content: '\00a0'
	pre > code
		display: block
		max-width: 100%
		padding: 12px 15px
		border-radius: 5px
		&:before, &:after
			content: none

